<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <listener>
        <listener-class>com.yao.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>asyncLongRunningServlet</servlet-name>
        <servlet-class>com.yao.AsyncLongRunningServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>asyncLongRunningServlet</servlet-name>
        <url-pattern>/asyncLongRunningServlet</url-pattern>
    </servlet-mapping>
    <!--jetty contination servlet-->
    <servlet>
        <servlet-name>jettyContinationServlet</servlet-name>
        <servlet-class>com.yao.jetty.continuation.SimpleSuspendResumeServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>jettyContinationServlet</servlet-name>
        <url-pattern>/jettyContinationServlet</url-pattern>
    </servlet-mapping>
</web-app>